@charset "UTF-8";
/*-----land-----*/
.land{display: block;width: 400px;background: #FFF;margin: 0 auto;position: relative;top: 200px;border-radius: 4px;padding: 30px 0;box-shadow: 0 0 24px rgb(210,210,210);}
.land_img{display: block;width: 46px;margin: 0 auto;}
.land>ul>li>input{width: 80%;height: 36px;margin:20px auto 0;display: block;border-radius: 4px;border: 1px solid rgb(185,185,185);}
.land>ul>li>input[type='text']{text-indent: 12px;font-size: 16px;outline:none;}
.land>ul>li>input[type='password']{text-indent: 12px;font-size: 16px;outline:none;}
.land>ul>li>input[type='submit']{background: #66CDAA;font-size: 16px;color: #FFF;letter-spacing: 2px;border: 0;height: 38px;cursor:pointer;outline: none;-webkit-appearance: none;}
.onInput{border-color: #4395FF !important;box-shadow: 0 0 10px rgb(230,230,230);}
.right{border-color: #66CDAA !important;box-shadow: 0 0 10px rgb(230,230,230);}
.wrong{border-color: red !important;box-shadow: 0 0 10px rgb(230,230,230);}
.f_right{border-color: #66CDAA !important;}
.f_wrong{border-color: red !important;}
/*-----end_land-----*/