@charset "UTF-8";
/*----public//标签属性初始化---*/
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0; padding: 0; }
img{border: 0 none; vertical-align: top; }
ul,li,dl,dd,dt { list-style-type: none; }
i,em,cite { font-style: normal; }
body{-webkit-text-size-adjust:none;/* 谷歌不支持12px以下字号 */ font-family:"微软雅黑";}
a{text-decoration: none; }
.clear,.cle{clear:both;}
a:focus{outline: none; }/* 去掉火狐下链接虚线框 */
html{width: 100%;;min-width:320px;}
/*---public--*/
/*---skin---*/
.skin1{background:#E9EAED;}
.skin2{background:#215d5d6e;}
.skin3{background:#215d5d;}
/*---end_skin---*/