@charset "UTF-8";
/*------------center----------*/
.center{width:1200px;margin:80px auto 20px;overflow:hidden;position:relative;background:#FFF;border-radius:4px;min-height:400px;}
@media screen and (max-width:1200px){
    .center{width:96%;}
}
/*------aboutMe------*/
.aboutMe{width:96%;margin:0 auto;position:relative;}
.aboutMe_content{width:100%;}
.aboutMe_content_text{font-size: 15px;line-height: 45px;color: #333;display: block;text-align: center;}
/*------end_aboutMe------*/
/*------------end_center----------*/