<!DOCTYPE html>
<html lang="en" class="skin{foreach $skin as $value}{$value.ClassName}{/foreach}">
<head>
    <meta charset="UTF-8">
    <title>关于我</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {foreach $seo_data as $value}
    <meta name="keywords" content="{$value.keywords}" />
    <meta name="description" content="{$value.description}"/>
    {/foreach}
    <link rel="icon" href="{$root}/templates/Images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="{$root}/templates/Css/public.css"/>
    <link rel="stylesheet" href="{$root}/templates/Css/aboutMe.css"/>
</head>
{assign var='NavId' value='aboutMe'}
<body>
{include file='./canvasBackground.html'}
<!--top-->
<div class="top">
    {include file='./topMenu.html'}
</div>
<!--end_top-->
<!--center-->
<div class="center">
    <!--aboutMe-->
    <div class="aboutMe">
        {foreach $about_me as $value}
        <div class="aboutMe_title">
            <i>
                <a href="{$root}"><img src="{$root}/templates/Images/back_logo.jpg"/></a>
            </i>
            <span class="aboutMe_title1">{$value.Name}</span>
            <span class="aboutMe_title2">{$value.Title}</span>
            <span class="aboutMe_title3">{$value.SmallTitle}</span>
        </div>
        <div class="aboutMe_content">
            <span class="aboutMe_content_title"></span>
            <span class="aboutMe_content_text">{$value.Content}</span>
        </div>
        {/foreach}
    </div>
    <!--end_aboutMe-->
</div>
<!--end_center-->
<!--bottom-->
<div class="bottom">
    {include file='./bottomFoot.html'}
</div>
<!--end_bottom-->
<!--sideWindow-->
<div class="sideWindow">
    {include file='./sideWindow.html'}
</div>
<!--end_sideWindow-->
<script type="text/javascript" src="{$root}/templates/Js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{$root}/templates/Js/scrollReveal.js"></script>
<script type="text/javascript" src="{$root}/templates/Js/public.js"></script>
<script type="text/javascript" src="{$root}/templates/Js/aboutMe.js"></script>
</body>
</html>