<!------bottom_foot//网站公共底部------>
<div class="bottom_foot">
    <div class="bottom_foot_lb">
        <ul>
            <li>
                <img src="{$root}/templates/Images/weixin_code.png"/>
                <span>微信公众号</span>
            </li>
            <li>
                <img src="{$root}/templates/Images/weixin_code.png"/>
                <span>我的微信</span>
            </li>
        </ul>
    </div>
    <div class="bottom_foot_rb">
        <p>
            <b>站点声明：</b>
        </p>
        <p>1、本网站文章部分出自互联网，如无意中侵犯了某个媒体或个人的知识产权，请来信(<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=987354940@qq.com" title="发送邮件" target="_blank">987354940@qq.com</a>)告之，本网站将立即删除。</p>
        <p>Copyright © www.zhangqingblog.com All Rights Reserved. 备案号：鄂ICP备18005731号-2</p>
    </div>
    <div class="backTop">
        <img src="{$root}/templates/Images/backTop.png"/>
    </div>
</div>
<!------end_bottom_foot------>