<!------bottom_foot//网站公共底部------>
<div class="bottom_foot">
    <div class="bottom_foot_lb">
        <ul>
            <li>
                <img src="{$root}/templates/Images/weixin_code.png"/>
                <span>微信公众号</span>
            </li>
            <li>
                <img src="{$root}/templates/Images/weixin_code.png"/>
                <span>我的微信</span>
            </li>
        </ul>
    </div>
    <div class="bottom_foot_rb">
        <p>Copyright © www.zhangqingblog.com All Rights Reserved. </p>
        <p>备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">鄂ICP备18005731号-2</a></p>
    </div>
    <div class="backTop">
        <img src="{$root}/templates/Images/backTop.png"/>
    </div>
</div>
<!------end_bottom_foot------>