<!DOCTYPE html>
<html lang="en" class="skin{foreach $skin as $value}{$value.ClassName}{/foreach}">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    {foreach $seo_data as $value}
    <meta name="keywords" content="{$value.keywords}" />
    <meta name="description" content="{$value.description}"/>
    {/foreach}
    <link rel="icon" href="{$root}/templates/Images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="{$root}/templates/Css/public.css"/>
    <link rel="stylesheet" href="{$root}/templates/Css/feedback.css"/>
</head>
{assign var='NavId' value='feedBack'}
<body>
{include file='./canvasBackground.html'}
<!--top-->
<div class="top">
    {include file='./topMenu.html'}
</div>
<!--end_top-->
<!--center-->
<div class="center">
    <!--feedback-->
    <div class="feedback">
        {literal}
        <div id="SOHUCS" sid="{id}"></div>
        {/literal}
        <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
                appid: 'cytxb2v7O',
                conf: 'prod_3daed7b84583c5cb0f716f807a102ed5'
            });
        </script>
    </div>
    <!--end_feedback-->
</div>
<!--end_center-->
<!--bottom-->
<div class="bottom">
    {include file='./bottomFoot.html'}
</div>
<!--end_bottom-->
<!--sideWindow-->
<div class="sideWindow">
    {include file='./sideWindow.html'}
</div>
<!--end_sideWindow-->
<script type="text/javascript" src="{$root}/templates/Js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{$root}/templates/Js/public.js"></script>
</body>
</html>