<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="个人博客,张先森个人博客,张先森，个人网站" />
    <meta name="description" content="张先森个人博客，是一个计算机系的在校生个人网站"/>
    <link rel="icon" href="{$root}/templates/Images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{$root}/templates/Css/public.css"/>
    <link rel="stylesheet" href="{$root}/templates/Css/feedback.css"/>
    <script type="text/javascript" src="{$root}/templates/Js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{$root}/templates/Js/public.js"></script>
</head>
{assign var='NavId' value='feedBack'}
<body>
{include file='./canvasBackground.html'}
<!--top-->
<div class="top">
    {include file='./topMenu.html'}
</div>
<!--end_top-->
<!--center-->
<div class="center">
    <!--feedback-->
    <div class="feedback">
        <div id="SOHUCS" sid="feedback"></div>
        <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
                appid: 'cytxb2v7O',
                conf: 'prod_3daed7b84583c5cb0f716f807a102ed5'
            });
        </script>
    </div>
    <!--end_feedback-->
</div>
<!--end_center-->
<!--bottom-->
<div class="bottom">
    {include file='./bottomFoot.html'}
</div>
<!--end_bottom-->
</body>
</html>