<!DOCTYPE html>
<html lang="en" class="skin{foreach $skin as $value}{$value.ClassName}{/foreach}">
<head>
    <meta charset="UTF-8">
    <title>{foreach $learn_share_view as $value}{$value.Title}{/foreach}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    {foreach $seo_data as $value}
    <meta name="keywords" content="{$value.keywords}" />
    <meta name="description" content="{$value.description}"/>
    {/foreach}
    <link rel="icon" href="{$root}/templates/Images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="{$root}/templates/Css/public.css"/>
    <link rel="stylesheet" href="{$root}/templates/Css/learnShare_View.css"/>
</head>
{assign var='NavId' value='learnShare'}
<body>
{include file='./canvasBackground.html'}
<!--top-->
<div class="top">
    {include file='./topMenu.html'}
</div>
<!--end_top-->
<!--center-->
<div class="center">
    <!--left_box-->
    <div class="left_box">
        <!--lb_view-->
        <div class="lb_view">
            {foreach $learn_share_view as $value}
            <div class="lb_view_nav">您现在的位置是：<span><a href="">首页</a>><a href="">学习分享</a></span></div>
            <div class="lb_view_content">
                <span class="lb_view_title">{$value.Title}</span>
                <span class="lb_view_time">{$value.Time}</span>
                <span class="ReadCount"><img src="{$root}/templates/Images/see.png"/><span data-id="{$value.id}">{$value.ReadCount}</span></span>
                <span class="lb_view_text">{$value.Content}</span>
            </div>
            {/foreach}
        </div>
        <!--end_lb_view-->
        <!--lb_comment-->
        <div class="lb_comment">
            <div class="lb_comment_title">
                <span>文章评论</span>
            </div>
            <div id="SOHUCS" sid="{foreach $learn_share_view as $value}{$value.id}{/foreach}" style="width:96%"></div>
            <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                window.changyan.api.config({
                    appid: 'cytxb2v7O',
                    conf: 'prod_3daed7b84583c5cb0f716f807a102ed5'
                });
            </script>
        </div>
        <!--end_lb_comment-->
    </div>
    <!--left_box-->
    <!--right_box-->
    <div class="right_box">
        <!--rb_hot_click-->
        <div class="rb_hot_click">
            <span class="rb_hot_click_title">点击排行</span>
            <ul>
                {foreach $learn_share as $value}
                {if $value@key < 8}
                <li>
                    <a href="{$root}learnShare_View/{$value.id}.html" target="_blank">
                        <span class="serialNumber"></span>
                        <span class="title">{$value.Title}</span>
                    </a>
                </li>
                {/if}
                {/foreach}
            </ul>
        </div>
        <!--end_rb_hot_click-->
        <!--station_recommend-->
        <div class="station_recommend">
            <span class="station_recommend_title">站长推荐</span>
            <ul>
                {foreach $learn_share as $value}
                {if $value@key < 8}
                <li>
                    <a href="{$root}learnShare_View/{$value.id}.html" target="_blank">
                        <i><img src="{$root}/{$value.SmallImageUrl}"/></i>
                        <span>{$value.Title}</span>
                    </a>
                </li>
                {/if}
                {/foreach}
            </ul>
        </div>
        <!--end_station_recommend-->
        <!--rb_excellentBlogs-->
        <div class="rb_excellentBlogs">
            <span class="rb_excellentBlogs_title">优秀博客</span>
            <ul>
                {foreach $excellent_blogs as $value}
                <li><a href="{$value.SiteUrl}" target="_blank" title="{$value.Title}">{$value.Title}</a></li>
                {/foreach}
            </ul>
        </div>
        <!--end_rb_excellentBlogs-->
        <!--rb_QRcode-->
        <div class="rb_QRcode">
            <span class="rb_QRcode_title">小程序端</span>
            <img src="{$root}/templates/Images/qrCode.png" class="rb_QRcode_img"/>
        </div>
        <!--end_rb_QRcode-->
    </div>
    <!--end_right_box-->
</div>
<!--end_center-->
<!--bottom-->
<div class="bottom">
    {include file='./bottomFoot.html'}
</div>
<!--end_bottom-->
<script type="text/javascript" src="{$root}/templates/Js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{$root}/templates/Js/public.js"></script>
<script type="text/javascript" src="{$root}/templates/Js/learnShare_View.js"></script>
</body>
</html>